body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}
.controls-btn {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  background-color: #1f09ae8c;
  color: #fff;
  text-shadow: 0 0 black;
  cursor: pointer;
  border: solid 1px #00ff00;
}
.time-display {
  color: #ffff00;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  text-shadow: 0 0 black;
}
.container {
  background-color: darkgray;
  border-radius: 15px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 0px;
  color: #1f09ae8c;
  text-shadow: 0 0 black;
}
